name: Continuous integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  checks:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
        with:
          submodules: true

      - uses: actions/setup-go@v3.2.0
        with:
          go-version: '1.14'

      - run: make go-coverage

      - uses: actions/upload-artifact@v3.1.0
        with:
          name: coverage.html
          path: /tmp/coverage.html
